@import "../../../styles/variables.scss";

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 34px;
  width: 100%;

  span {
    color: $secondary-color;
    text-align: end;
    font-size: 14px;
    text-decoration: underline;
  }
}
